body{
  background-image: url("https://i.gyazo.com/eddfb20a4b80c0e85ff575339b9b96ae.gif");
  margin: 10px;
  padding: 0px;
  font-family: sans-serif;
}
  color: red;
  font-size: 30px;
  font-family: monospace;
}
